{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block mainbody %}

    <div class="row m-3">
        <div class="col-sm-10 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 style="color:#5F1C1C; margin-bottom:2%;">Add an apartment</h5>
                    <form class="form" method="POST">
                        {% csrf_token %}
                           {{ form.as_p }}
                        <p href="#" id="addMoreImageFields">Add another image</p><br><br>
                        <a href="{% url 'profile' %}"><button type="button" class="btn red-button">Cancel</button></a>
                        <button type="submit" class="btn green-button">Submit</button>

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form> <!-- /form -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
