{% extends 'base.html' %}

{% block mainbody %}

    <div class="m-3 red-background border-shadow">
        <div class="card border-shadow bg-white">
            <div class="card-body">
                <div class="col-md-4 col-lg-4 col-12" style="float:left;text-align:center">
                    <img class="profile-picture" style="width: 100%;" src="https://banner2.kisspng.com/20180325/wae/kisspng-business-google-account-organization-service-avatar-5ab752c6a54db0.2719189215219637186771.jpg">
                </div>
                <div class="profile-info col-md-8 col-lg-8 col-12" style="float:right;text-align:center">
                    <h3>{{ user.username }}</h3>
                    <h5>Name: {{ info.name}}</h5>
                    <h5>Phone: {{ info.phone }}</h5>
                    <h5>E-mail: {{ info.email }}</h5>
                    <button id="editButton" type="submit" class="btn green-button">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 px-3">
        <div class="w-100 gray-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 class="card-title">Creditcard: </h5>
                    <button id="change_cc" type="submit" class="btn green-button">Change</button>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 p-3">
        <div class="w-100 gray-background border-shadow">
            <div class="row">
                <div class="col-2"><h4 class="prev_arrow"><</h4></div>
                <div class="col-8"><h5>Search history</h5></div>
                <div class="col-2"><h4 class="next_arrow text-right">></h4></div>
            </div>
            <div class="container px-0 m-0">
                {#                <div class="newest_apartments">#}
                {#                    {% for apartment in newest %}#}
                {#                        {% include 'apartments/single_apartment.html' with apartment=apartment %}#}
                {#                    {% endfor %}#}
                {#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}
