{% extends 'base.html' %}
{% block title %}Edit my profile{% endblock %}
{% block mainbody %}

    <div class="row m-3">
        <div class="col-sm-5 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 style="color:#5F1C1C; margin-bottom:2%;">Edit profile</h5>
                    <!-- form for editing profile -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if form2 %} <!-- basically, if user is seller, show this form. That's because seller has more fields to edit -->
                            {{ form2.as_p }}
                        {% endif %}
                          <div style="margin-top:0.4rem">
                            <button type="submit" class="green-button">Update</button>
                        </div>
                    </form>
                    <!-- / form -->

                    <!-- errors -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- / errors -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
