{% extends 'base.html' %}

{% block mainbody %}

    <div class="row m-3">
        <div class="col-sm-5 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <form>
                        <h5 class="text-center">Reset Password</h5>
                        <div class="form-group">
                            <strong class="username-label">Email </strong>
                            <input type="text" class="user_input" id="search_address" placeholder="Email">
                        </div>
                        <div class="form-row text-center">
                            <div class="form-group col-sm-12">
                                <button class="btn btn-secondary login-btn bg-custom reset_btn">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
