{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block mainbody %}
    <div class="row m-3">
        <div class="col-sm-5 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 style="color:#5F1C1C; margin-bottom:2%;">Login</h5>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="/users/password_reset">Forgot password?</a>
                        <div style="margin-top:0.4rem">
                            <button type="submit" class="green-button">Login</button>
                        </div>

                          {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
