{% extends 'base.html' %}

{% block mainbody %}

    <div class="row m-3">
        <div class="col-sm-10 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div style="padding-left:5%; padding-top:3%;" class="card-body">
                    <h5 style="color:#5F1C1C; margin-bottom:5%;">Register new user</h5>
                    <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstName" class="col-sm-12 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-12 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="Username" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-12 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="email" placeholder="Phone" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-12 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-12 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-12 control-label">Repeat password</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="Repeat password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-12 control-label">Security question</label>
                    <div class="col-sm-9">
                        <select>
                            <option value="What was your first cat's name?">What was your first cat's name?</option>
                            <option value="What's the name of your first dog?">What's the name of your first dog?</option>
                            <option value="Reynir notar HGH?">Reynir notar HGH?</option>
                            <option value="What's your favorite car make?">What's your favorite car make?</option>
                            <option value="Whats your cars licence plate number?">What's your cars licence plate number?</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                        <label for="Height" class="col-sm-12 control-label">Answer</label>
                    <div class="col-sm-9">
                        <input style="margin-bottom:5%;"type="text" class="form-control">
                    </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-12">
                    </div>
                </div>
                <button type="reset" onclick="showDiv()"class="red-button" >Cancel</button>
                <button type="submit" class="green-button">Register</button>
                        <button id="hgh" style="display:none;"class="btn btn-primary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Generating HGH pills for Reynir...
</button>
            </form> <!-- /form -->
                </div>
            </div>
        </div>
    </div>
    <script>
function showDiv() {
    if(document.getElementById('hgh').style.display="none"){
        document.getElementById('hgh').style.display="block"
    }
}
</script>
{% endblock %}
