{% extends 'base.html' %}
{% block title %}Email sent{% endblock %}
{% block mainbody %}

    <div class="row m-3">
        <div class="col-sm-5 col-centered login-column red-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 style="color:#5F1C1C; margin-bottom:2%;">Check your spam folder!</h5>
                    <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                    </p>
                    <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
