{% extends 'base.html' %}
{% load pipes %}
+{% block title %}{{ apartment.address }}{% endblock %}

{% block mainbody %}

    <div class="m-3">
        <div class="gray-background border-shadow w-100">
            <div class="row">
                <digv class="col-4 apartment_info_small">
                    <img class="w-50 d-inline" src="{{ apartment.main_pic }}" alt="apartment pic">
                    {% for img in apartment.apartment_images_set.values %}
                        <img class="w-50" src="{{ img.image }}" alt="apartment pic">
                    {% endfor %}
                </digv>
                <div class="col-8 apartment_info_main_pic">
                    <img src="{{ apartment.main_pic }}" alt="apartment pic">
                    {% for img in apartment.apartment_images_set.values %}
                        <img src="{{ img.image }}" alt="apartment pic" style="max-height: 500px; object-fit: contain;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="m-3">
        <div class="d-flex justify-content-between">
            <div>
                <h5>{{ apartment.address }} {{ apartment.zip_code.id }} {{ apartment.zip_code.town }}</h5>
            </div>
            <div>
                <h5>Price: {{ apartment.price | dotSeperator }} ISK</h5>
            </div>
        </div>
        <p>Size: {{ apartment.size }} sqm</p>
        <p>Rooms: {{ apartment.rooms }}</p>
        <hr class="bg-custom">
        <p>{{ apartment.description }}</p>
        <h6>Seller: <a href="{% url 'seller_info' apartment.seller.id %}">{{ apartment.seller.user.name }}</a></h6>
        {% if not user.user_info.seller %}
        <a href="{% url 'buy_contact' apartment.id %}">
            <button type="button" class="btn green-button float-right" style="width: fit-content">Buy this apartment</button>
        </a>
        {% endif %}
    </div>


{% endblock %}

