{% extends 'base.html' %}

{% block mainbody %}

    <div class="m-3 red-background border-shadow">
        <div class="card border-shadow bg-white">
            <div class="card-body">
                <form>
                    <div class="row form-group">
                        <div class="col-12 col-lg-8 col-md-8">
                            <input value="{{ details.address }}" autocomplete="off" type="text" class="form-control" id="search_address" placeholder="Name/address">
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <select id="search_zip" class="form-control">
                                <option id="howManyZips" selected>Zip codes</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2 col-12">
                            <select id="search_rooms" class="form-control">
                                <option selected>Rooms</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6+</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6 price-range-block">
                            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                            <div class="apartments slide-prices-container" style="margin:0.5rem auto;text-align:center">
                                <div class="min_price d-inline-flex m-1">
                                    <span class="input-group-addon">ISK</span>
                                    <input type="text" min=0 autocomplete="off" max="199999999" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='20000000');" id="min_price" class="price-range-field form-control m-1" />
                                </div>
                                <div class="max_price d-inline-flex m-1">
                                    <span class="input-group-addon">ISK</span>
                                    <input type="text" min=0 autocomplete="off" max="200000000" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='90000000');" id="max_price" class="price-range-field form-control m-1" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6 size-range-block">
                            <div id="size-range" class="size-filter-range" name="rangeInput"></div>
                            <div class="apartments slide-sizes-container" style="margin:0.5rem auto;text-align:center">
                                <div class="min_size d-inline-flex m-1">
                                    <span class="input-group-addon">SQM</span>
                                    <input type="text" min=0 autocomplete="off" max="499" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='40');" id="min_size" class="size-range-field form-control m-1" />
                                </div>
                                <div class="max_size d-inline-flex m-1">
                                    <span class="input-group-addon">SQM</span>
                                    <input type="text" min=0 autocomplete="off" max="500" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='250');" id="max_size" class="size-range-field form-control m-1" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-12 text-right">
                            <a id="clearFormButton" class="btn red-button">Clear</a>
                            <button id="submitFormButton" type="submit" class="btn green-button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="m-3 simple-border">
        <div class="row mx-2">
            <div class="col-6" style="line-height:3">
                <p id="apartmentsFound" style="margin:0">Apartments found: {{ apartments|length }}</p>
            </div>
            <div class="col-6" style="text-align:right">
                <p id="order_by_text" for="order_by" style="display:inline-block;">Order by</p>
                <select name="order_by" id="order_by" class="form-control">
                    <option value="a-z" selected>Name A-Z</option>
                    <option value="z-a">Name Z-A</option>
                    <option value="price_lowest">Price from lowest</option>
                    <option value="price_highest">Price from highest</option>
                </select>
            </div>
        </div>
    </div>

    <div class="values" style="display:none">
        <input id="min_price_django" type="text" value="{{ details.min_price }}">
        <input id="max_price_django" type="text" value="{{ details.max_price }}">
        <input id="min_size_django" type="text" value="{{ details.min_size }}">
        <input id="max_size_django" type="text" value="{{ details.max_size }}">
        <input id="rooms_django" type="text" value="{{ details.rooms }}">
        <input id="zipcodes_django" type="text" value="{{ details.zipcodes }}">
    </div>

    {% include 'apartments/zip_codes.html' %}

    <div class="row apartments-list">
    {% for apartment in apartments %}
        <div data-address="{{ apartment.address }}" data-price="{{ apartment.price }}" class="col-md-4 col-lg-3 col-12 col-sm-6 single-apartment" style="padding:1rem">
            <div class="gray-background border-shadow">
                {% include 'apartments/single_apartment.html' with apartment=apartment %}
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}