{% extends 'base.html' %}
{% load pipes %}
+{% block title %}{{ apartment.address }}{% endblock %}

{% block mainbody %}

    <!-- image slider -->
    <div class="m-3">
        <div class="gray-background border-shadow w-100">
            <div class="row">
                <div class="apartment-left">
                    <
                </div>
                <div class="apartment-right">
                    >
                </div>
                <div class="col-12 apartment_info_main_pic">
                    <img style="height:400px;text-align:center;margin:auto" src="{{ apartment.main_pic }}" alt="apartment pic">
                    {% for img in apartment.apartment_images_set.values %}
                        <img style="height:400px" src="{{ img.image }}" alt="apartment pic" style="max-height: 500px; object-fit: contain;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- / image slider -->

    <!-- apartment information -->
    <div class="m-3">
        <div class="d-flex justify-content-between">
            <div>
                <h5>{{ apartment.address }} {{ apartment.zip_code.id }} {{ apartment.zip_code.town }}</h5>
            </div>
            <div>
                <h5>Price: {{ apartment.price | dotSeperator }} ISK</h5>
            </div>
        </div>
        <p><strong>Size:</strong> {{ apartment.size }} sqm</p>
        <p><strong>Rooms:</strong> {{ apartment.rooms | roomFixer }}</p>
        <hr class="bg-custom">
        <p>{{ apartment.description }}</p>
        <h6>Seller: <a href="{% url 'seller_info' apartment.seller.id %}">{{ apartment.seller.user.user_info.name }}</a></h6>
        {% if not user.user_info.seller and not apartment.sold %}
        <a href="{% url 'buy_contact' apartment.id %}">
            <button type="button" class="btn green-button float-right" style="width: fit-content">Buy this apartment</button>
        </a>
        {% elif apartment.sold %}
            <h2 style="color:red">Apartment has been sold!</h2>
        {% endif %}
        {% if user.seller.id == apartment.seller.id %}
        <a href="{% url 'remove_apartment' apartment.id %}">
            <button type="button" class="btn btn-danger float-right" style="width: fit-content">Remove this apartment</button>
        </a>
        {% endif %}
    </div>
    <!-- / apartment information -->

{% endblock %}

