{% extends 'base.html' %}
{% block title %}Contact information{% endblock %}
{% block mainbody %}
    <!-- process header -->
    <div class="m-3">
        <div class="w-100 gray-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body row">
                    <div class="col-4"><button class="btn green-button w-100">Contact information</button></div>
                    <div class="col-4"><button class="btn gray-button w-100">Payment</button></div>
                    <div class="col-4"><button class="btn gray-button w-100">Review</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- / process header -->

    <div class="m-3">
        <div class="w-100 red-background border-shadow mb-3">
            <div class="card border-shadow">
                <div class="card-body">
                        <!-- errors -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- / errors -->
                    <h5 class="card-title">Add your contact information</h5>
                    <!-- form for adding contact information and going to next step in the process -->
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <table class="w-75 m-3">
                            {{ form }}
                        </table>
                        <a href="{% url 'homepage' %}">
                        <button type="button" class="btn red-button">Cancel</button>
                        </a>
                        <button type="submit" class="btn green-button float-right">Continue</button>
                    </form>
                    <!-- form -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}