{% extends 'base.html' %}
{% block title %}Contact information{% endblock %}
{% block mainbody %}

    <div class="m-3">
        <div class="w-100 gray-background border-shadow">
            <div class="card border-shadow">
                <div class="card-body row">
                    <div class="col-4"><button class="btn green-button w-100">Contact information</button></div>
                    <div class="col-4"><button class="btn gray-button w-100">Payment</button></div>
                    <div class="col-4"><button class="btn gray-button w-100">Review</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3">
        <div class="w-100 red-background border-shadow mb-3">
            <div class="card border-shadow">
                <div class="card-body">
                    <h5 class="card-title">Add your contact information</h5>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <table class="w-75 m-3">
                            {{ form }}
                        </table>
                        <a href="{% url 'homepage' %}">
                        <button type="button" class="btn red-button">Cancel</button>
                        </a>
                        <button type="submit" class="btn green-button float-right">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}