{% extends 'base.html' %}

{% block mainbody %}
	<div class="row m-3">
		<div class="col-sm-6 red-background border-shadow">
			<div class="card border-shadow">
				<div class="card-body">
					<h5 class="card-title">Search engine</h5>
					<form>
						<div class="form-group">
							<input autocomplete="off" type="text" class="form-control" id="search_address" placeholder="Name/address">
						</div>
						<div class="form-row">
							<div class="form-group col-6">
								<select id="search_zip" class="form-control">
									<option id="howManyZips" selected>Zip codes</option>
								</select>
							</div>
							<div class="form-group col-6">
								<select id="search_rooms" class="form-control">
									<option selected>Rooms</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6+</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="price-range-block">
								<div id="slider-range" class="price-filter-range" name="rangeInput"></div>
								<div class="slide-prices-container" style="margin:0.5rem auto;text-align:center">
									<div class="min_price">
										<span class="input-group-addon m-1">ISK</span>
										<input type="text" placeholder="Min price" min=0 autocomplete="off" max="199999999" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='20000000');" id="min_price" class="price-range-field form-control m-1" />
									</div>
									<div class="max_price">
										<span class="input-group-addon m-1">ISK</span>
										<input type="text" placeholder="Max price" min=0 autocomplete="off" max="200000000" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='90000000');" id="max_price" class="price-range-field form-control m-1" />
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="form-row">
							<div class="size-range-block">
								<div id="size-range" class="size-filter-range" name="rangeInput"></div>
								<div class="slide-sizes-container" style="margin:0.5rem auto;text-align:center">
									<div class="min_size">
										<span class="input-group-addon m-1">SQM</span>
										<input type="text" placeholder="Min size" min=0 autocomplete="off" max="499" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='40');" id="min_size" class="size-range-field form-control m-1" />
									</div>
									<div class="max_size">
										<span class="input-group-addon m-1">SQM</span>
										<input type="text" placeholder="Max size" min=0 autocomplete="off" max="500" onkeypress="allowNumbersOnly(event)" oninput="validity.valid||(value='250');" id="max_size" class="size-range-field form-control m-1" />
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="form-row">
							<div class="form-group col-12" style="text-align: right">
								<button id="clearFormButton" class="btn red-button">Clear</button>
								<button id="submitFormButton" type="submit" class="btn green-button">Search</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-6 gray-background border-shadow">
			<div class="card border-shadow bg-custom text-white">
				<div class="card-body">
					<h5 class="card-title">Featured apartment</h5>
					<p class="card-text">Add apartment info here</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card-deck m-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">New apartment</h5>
				<p class="card-text">Info on new apartment</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">New apartment</h5>
				<p class="card-text">Info on new apartment</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">New apartment</h5>
				<p class="card-text">Info on new apartment</p>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">New apartment</h5>
				<p class="card-text">Info on new apartment</p>
			</div>
		</div>
	</div>

    {% include 'apartments/zip_codes.html' %}

{% endblock %}