<div class="w-25 gray-background border-shadow m-3">
   <div class="card bg-custom border-shadow text-white">
    <img class="card-img-top" src="{{ apartment.main_pic }}" alt="apartment pic">
        <div class="card-body">
            <h5 class="card-title">{{ apartment.address }} {{ apartment.zip_code }}</h5>
            <p>{{ apartment.price }}</p>
            <div class="d-flex justify-content-between">
                <div>
                    <p>{{ apartment.size }} sqm</p>
                </div>
                <div>
                    <p>Rooms: {{ apartment.rooms }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
