{% load pipes %}

<div class="card bg-custom border-shadow text-white">
    <a href="{% url 'apartment_info' apartment.id %}"><img class="card-img-top" src="{{ apartment.main_pic }}" alt="apartment pic"></a>
    <div class="card-body single-apartment">
        <h5 class="card-title"><a href="{% url 'apartment_info' apartment.id %}">{{ apartment.address }}</a></h5>
        <h6 class="card-subtitle">{{ apartment.zip_code.id }} {{ apartment.zip_code.town }}</h6>
        <h6>{{ apartment.price | dotSeperator }} ISK</h6>
        <div class="d-flex justify-content-between">
            <div>
                <p>{{ apartment.size }} sqm</p>
            </div>
            <div>
                <p>Rooms: {{ apartment.rooms }}</p>
            </div>
        </div>
    </div>
</div>

