<div class="single-apartment gray-background border-shadow">
   <div class="card bg-custom border-shadow text-white" style="text-align:left">
    <img class="card-img-top" src="{{ apartment.main_pic }}" alt="apartment pic">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ apartment.id }}">{{ apartment.address }} {{ apartment.zip_code }}</a></h5>
            <p>{{ apartment.price }}</p>
            <div class="d-flex justify-content-between">
                <div>
                    <p>{{ apartment.size }} sqm</p>
                </div>
                <div>
                    <p>Rooms: {{ apartment.rooms }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
