{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- css imports -->
    <link rel="stylesheet" href="/static/lib/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/jquery.css">
    <link rel="stylesheet" href="/static/lib/slick.css">
    <!-- fontawesome has to be via the CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- / css imports -->
</head>

<body>
    <!-- heeader -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="/static/images/logo.png" alt="castle apartments">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apartment_list' %}">Apartments</a>
                </li>
                <li class="nav-item sellers-nav nav-sellers">
                    <a class="nav-link" href="{% url 'sellers_list' %}">Sellers</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.user_info.seller %}
                        <li class ="nav-item login-nav fit-content nav-padding">
                            <a class ="nav-link" href="{% url 'add_apartment' %}"> Add new apartment</a>
                        </li>
                        <li class ="nav-item">
                            <a class ="nav-link" href="{% url 'profile' %}"> My Profile </a>
                        </li>
                    {% else %}
                        <li class ="nav-item login-nav nav-padding">
                            <a class ="nav-link" href="{% url 'profile' %}"> My Profile </a>
                        </li>
                    {% endif %}
                    <li class ="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
                    </li>
                {% else %}
                    <li class ="nav-item login-nav nav-padding">
                        <a class="nav-link" href="{% url 'login' %}"> Log in </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"> Register </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <!-- / header -->

    {% block mainbody %}

    {% endblock %}

    <!-- footer -->
    <footer class="footer navbar-dark bg-custom">
        <div class="row mx-2">
            <div class="col-6">
                <span class="navbar-text">
                    <a href = '/site_information/about_us'>About the team</a>
                </span>
            </div>
            <div class="col-6 text-right">
                <span class="navbar-text">
                    <a href = 'mailto:contact@castle-apartments.com'>castle.apartments.contact@gmail.com</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- javascript imports -->
    <script src="/static/lib/jquery.js"></script>
    <script src="/static/lib/bootstrap.js"></script>
    <script src="/static/lib/jquery_ui.js"></script>
    <script src="/static/lib/slick.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/static/scripts/app.js"></script>
    <!-- / javascript imports -->
</body>
</html>