.bg-custom {
    background-color: #5e1d1d;
}
.simple-border {
    border: 2px solid #5E1D1D;
    border-radius: 5px;
}
.border-shadow {
    border-width: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}
.gray-background {
    display: inline-block;
    background-color: #d9d6d6;
    padding: 1rem;
}
.white-background {
    background-color: white;
    padding: 1rem;
}
.red-background {
    background-color: #5E1D1D;
    padding: 1rem;
}
.red-button, #clearFormButton {
    background: #5E1D1D;
    color: white;
    width: 8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.red-button:hover, .green-button:hover, #clearFormButton:hover {
    color:rgba(255, 255, 255, 0.7)
}

#clearFormButton:hover {
    cursor:pointer
}

.green-button {
    background: #257E29;
    color: white;
    width: 8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#slider-range, #size-range {
    width:100%;
    background: #5e1d1d;
}
.sliderText {
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}
#order_by {
    width: 8rem;
}
.single-apartment {
    padding: 0.5rem;
}
.single-apartment p, .card-title, h6 {
    /*margin-bottom: 0;*/
    margin-bottom:0.3rem;
}
.single-apartment .card-subtitle {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}
.newest_apartments {
    box-sizing: border-box;
}
.login-column {
    float:none;
    margin:0 auto;
}
.username-label{
    display:inline-block;
    padding-right:40px;
    float:left;
}
.password-label{
    display:inline-block;
    padding-right:44px;
    float:left;
}
.forgot-password-label{
    padding-left:70%;
    padding-bottom:15px;
}
.user_input{
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.price-range-block, .size-range-block {
    width:100%;
}
.expander {
    background: gray;
    width:100%
}
.item {
    font-size: 1.5rem;
}
.item .zip_option {
    font-size:1rem;
    margin-left:1rem
}
.item a, .item p {
    height:0.8rem;
    display:none;
}
.item h4 i:hover {
    text-decoration: underline;
    cursor:pointer;
}
.item h4 {
    margin-bottom:0;
}
#choose_rooms {
    display:none;
}
input[type="checkbox"]
{
    vertical-align:middle;
}
@media screen and (max-width: 1240px) {
    .forgot-password-label{
        padding-left:62%;
    }
}
@media screen and (max-width: 1208px) {
    .forgot-password-label{
        padding-left:62%;
    }
}
@media screen and (max-width: 1035px) {
    .forgot-password-label{
        padding-left:50%;
    }
}

.min_price, .min_size {
    float:left;
}
.max_price, .max_size {
    float:right;
}
#order_by {
    width:50%
}

@media screen and (max-width:750px) {
    #order_by {
        width:70%
    }
}
@media screen and (max-width:650px) {
    #order_by_text {
        display:none !important
    }
    #order_by {
        width:100%
    }
}


.min_size, .max_size, .min_price, .max_price {
    display:table !important;
}
.min_size span, .max_size span, .min_price span, .max_price span {
    display:table-cell;
    /* vertical-align:middle; */
}

@media screen and (max-width: 971px) {
    .slide-prices-container, .slide-sizes-container {
        text-align:center
    }
    .min_price, .max_price, .min_size, .max_size {
        float: inherit !important;
    }
}

@media screen and (min-width:970px) and (max-width: 1120px) {
    .apartments .min_size, .apartments .max_size {
        float:right
    }
    .apartments .min_price, .apartments .max_price {
        width:53%;
        float:left
    }
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
} */

@media screen and (max-width:992px) {
    .login-nav {
        padding-top:0.8rem;
        padding-left:0 !important;
        border-top: solid 1px rgba(255,255,255,.5);
        width:6rem;
    }
    .sellers-nav {
        padding-bottom: 0.8rem;
        border-right:0 !important;
    }
}

.card-title a:hover, .card-title a {
    color:white
}

#order_by {
    text-align: right;
    display: inline-block;
    margin: 0.4rem;
}


@media screen and (max-width: 1140px) {
    .max_price, .min_price, .max_size, .min_size {
        width:100%;
    }
}
@media screen and (max-width: 767px) {
    .profile-picture {
        max-width:50%;
    }
}
@media screen and (min-width: 767px) {
    .profile-info  {
        text-align: left !important;
    }
}


/*
@media screen and (max-width: 750px) {
    .single-apartment {
        width:100%
    }
}
.single-apartment {
    width:23%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
*/
.apartments-list {
    margin:0;
}



.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.modal-dialog, .modal-content {
    height: 80%;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.zip-option input[type="checkbox"] {
    vertical-align: unset;
}
.new_aparts-container, .search-history-container {
    margin:auto !important;
}

.alert-danger {
    margin-top:1rem
}

.errorlist {
    display:none
}
.change_password ul {
    display: none;
}