.bg-custom {
    background-color: #5e1d1d;
}

/* SLIDER */

#slider-range {
    width:100%;
    background: #5e1d1d;
}
.sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:40%;
}
.ui-widget-header {
    background: #3FE331;
}

.price-range-search {
    width:100%;
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}
.price-range-field{
    width:30%;
    margin: 0rem 1rem 0rem 0rem;
    min-width: 16%;
    background-color:#f9f9f9; 
    border: 1px solid #6e6666; 
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    height:26px; 
    padding:5px;
}
.search-results-block{
    width:100%;
    position: relative;
    display: block;
    clear: both;
}
.price-range-block {
    width:100%;
}

/* END SLIDER */


.expander {
    background: gray;
    width:100%
}

.item {
    font-size: 1.5rem;
}
.item .zip_option {
    font-size:1rem;
    margin-left:1rem
}
.item a, .item p {
    height:0.8rem;
    display:none;
}
.item h4 i:hover {
    text-decoration: underline;
    cursor:pointer;
}
.item h4 {
    margin-bottom:0;
}
