{% extends 'base.html' %}
{% block title %}{{ seller.user.user_info.name }}{% endblock %}
{% block mainbody %}
    <div class="m-3">
        {% include 'sellers/single_seller.html' %}
    </div>
    <div class="w-100 px-3 pb-3">
        <div class="gray-background border-shadow w-100">
            <div class="row marginauto">
                <div class="col-2"><h4 class="prev_arrow"><</h4></div>
                <div class="col-8 textcenter"><h5>{{ seller.user.user_info.name }}'s apartments</h5></div>
                <div class="col-2"><h4 class="next_arrow text-right">></h4></div>
            </div>
            <div class="new_aparts-container container px-0 m-0">
                <div class="newest_apartments">
                    {% for apartment in apartments %} <!-- show seller's apartments -->
                        {% include 'apartments/single_apartment.html' with apartment=apartment %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}